<div class="dashboard-container">
  <div class="dashboard-menu">
    <ul class="menu-list">
      <li class="menu-item" [class.active]="selectedChartType === chartType.Table" (click)="menuClicked(chartType.Table)">
        Candidate Discoveries
      </li>
      <li class="menu-item" [class.active]="selectedChartType === chartType.Bar" (click)="menuClicked(chartType.Bar)">
        Bar Chart
      </li>
      <li class="menu-item" [class.active]="selectedChartType === chartType.Line" (click)="menuClicked(chartType.Line)">
        Line Chart
      </li>
      <li class="menu-item" [class.active]="selectedChartType === chartType.Pie" (click)="menuClicked(chartType.Pie)">
        Pie Chart
      </li>
      <li class="menu-item" [class.active]="selectedChartType === chartType.Calculator" (click)="menuClicked(chartType.Calculator)">
        Calculator
      </li>
    </ul>
  </div>

  <div class="dashboard-content">
    <ng-container *ngIf="selectedChartType === chartType.Table">
      <app-client-table></app-client-table>
    </ng-container>
    <div *ngIf="selectedChartType === chartType.Bar" class="chart-container">
      <ngx-charts-bar-vertical [results]="barChart" [xAxis]="true" [yAxis]="true" [legend]="true"
        [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Client" legendTitle="Client list"
        yAxisLabel="No Of Positions"></ngx-charts-bar-vertical>
    </div>

    <div *ngIf="selectedChartType === chartType.Line" class="chart-container">
      <ngx-charts-line-chart [results]="lineChartData" [xAxis]="true" [yAxis]="true"
        [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" xAxisLabel="Candidates" legendTitle="Discovered On"
        yAxisLabel="Offered CTC"></ngx-charts-line-chart>
    </div>

    <div *ngIf="selectedChartType === chartType.Pie" class="chart-container">
      <ngx-charts-pie-chart [results]="clientChartData" [legend]="true" [explodeSlices]="true" legendTitle="Status"
        [doughnut]="false"></ngx-charts-pie-chart>
    </div>
    <ng-container *ngIf="selectedChartType === chartType.Calculator">
      <app-calculator></app-calculator>
    </ng-container>
  </div>
</div>
